* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Gentium Basic', serif;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.start{
    width: 100vh;
    height: 100vh;
    padding-top: 150px;
}

.start p{
    font-size: 5rem;
    color: white;
    text-align: center;
}

.start p:nth-of-type(2),
.start p:nth-of-type(3) {
    font-size: 2.5rem;
}

.arrows {
    background: url("../images/arrows.png") no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#ready{
    border: 1px solid transparent;
    width: 350px;
    text-align: center;
    padding: 10px;
    margin: 50px auto;
    border-radius: 20px;
    font-size: 35px;
    background-color: darkred;
    cursor: pointer;
}

#ready:hover{
    font-size: 45px;
    width: 380px;
}
.main{
    height: 90vh;
}

#score {
    width: 100%;
}

#board {
    max-width: 650px;
    max-height: 650px;
    margin: 1em auto;
}

#board  > div {
    border: 1px solid white;
    float: left;
    width: 65px;
    height: 65px;
}


#score div {
    width: 5em;
    height: 3em;
    text-align: center;
    border: 0.5px solid white;
    background-color: rgba(211,211,211, 0.75);
    margin: 1em auto;
    font-size: 1.5rem;

}

.wolf {
    background-image: url('../images/wolf.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.meat {
    background-image: url('../images/meat.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#over {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 55px;
}

#over pre {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    color: darkred;
}

#finalScore {
    color: darkred;
    font-size: 65px;
}

#again{
    border: 1px solid transparent;
    width: 350px;
    text-align: center;
    padding: 10px;
    margin: 50px auto;
    border-radius: 20px;
    font-size: 35px;
    color: black;
    background-color: darkred;
    cursor: pointer;
}

#again:hover{
    font-size: 45px;
    width: 380px;
}
.wolf2{
    background: url("../images/wolf2.png") no-repeat center;
    height: 500px;
}
.invisible {
    display: none;
}